#!/bin/bash

{{ if eq .chezmoi.os "android" }}

chmod +x ~/scripts/setup-termux.sh
~/scripts/setup-termux.sh

chmod +x ~/scripts/setup-apache.sh
read -p "Do you want to run Apache setup? (y/n) " apache_choice
case "$apache_choice" in
    y|Y ) ~/scripts/setup-apache;;
    * ) echo "Skipping Apache setup.";;
esac

chmod +x ~/scripts/setup-mariadb.sh
read -p "Do you want to run MariaDB setup? (y/n) " mariadb_choice
case "$mariadb_choice" in
    y|Y ) ~/scripts/setup-mariadb.sh;;
    * ) echo "Skipping MariaDB setup.";;
esac

{{ else if eq .chezmoi.os "windows" }}

powershell.exe -NoProfile -ExecutionPolicy Bypass -File "$HOME\scripts\setup-windows.sh"

{{ else }}

echo "OS tidak dikenali. Lewatkan setup otomatis."

{{ end }}
